.App {
  text-align: center;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);             
  transition: all 0.3s ease;
}

.form:hover {
  background: rgba(255, 255, 255, 0.15);
}