body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(51, 47, 58);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.1) !important;
  transform: translateY(-2px);
}

input {
  border: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}
